* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgba(224, 74, 106, 1);
  transition: all 5s ease-in;
  :hover {
    color: rgba(168, 103, 192, 0.4);
  }
  :visited {
    color: green;
  }
}

html {
  background: #e0e0e0;
}

body {
  width: clamp(20rem, 75rem, 100dvw);
  margin-inline: auto;
  height: 100dvh;

  background: rgb(224, 239, 241);
  box-shadow: 0px 0px 10px 2px rgba(42, 150, 150, 0.4);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(42, 150, 150, 0.4);
  -moz-box-shadow: 0px 0px 10px 2px rgba(42, 150, 150, 0.4);
}
header {
  height: 5dvh;
  background: rgb(106, 43, 42);
  color: white;
}
main {
  height: 90dvh;
  display: grid;
  place-items: center;
}
footer {
  display: grid;
  place-items: center;
  height: 5dvh;
  font-weight: 200;
}

